/* styles.css */
*{
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    background-color: #6d1212;
    color: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
   
}





.logo img {
  
    padding: 20px 0px 0px 0px;
    width: 220px;
    float: left;
    transition: all 0.3s;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #d91100;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;

}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    width: 100%;
}

section#home {
    text-align: center;
    width: 80%;
    padding: 50px 20px;

}

h1, h2 {
    margin: 0 0 20px;
}


footer {

    color:#6d1212;
    text-align: center;
    padding: 10px 0;
}


.gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gallery img {
    display: -webkit-flex;
    display: flex;
    width: 30%;
    border-radius: 8px;
    transition: transform 0.2s;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



.contact-info {
    margin-bottom: 20px;
}

.map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}




